Keras==2.3.1
Flask==1.1.1
opencv-python==4.1.2.30
jsonschema==2.6.0
numpy==1.17.4
pandas==0.25.3
python-dotenv==0.10.3
gunicorn==20.0.4
tensorboard==2.0.2
tensorflow-estimator==2.0.1
tensorflow==1.12.0
opencv-contrib-python-headless==3.4.3.18
